<h2>{{ category.name }}</h2>
<div>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelTitle><h4>Show Options</h4></ng-template>
      <ng-template ngbPanelContent>
        <ul class="heroes">
          <li *ngFor="let option of category.options | sortBy: 'createdAt'">
            <span class="badge">></span>
            {{ option.name }}
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <h3>Past rankings of this category</h3>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Date Ranked</th>
        <th scope="col">Ranker</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let rankSession of rankSessions | sortBy: 'createdAt'"
        role="button"
        (click)="goToRankSession(rankSession)"
      >
        <th scope="row">{{ rankSession.createdAt | date: "dd/MM/yyyy" }}</th>
        <td>{{ rankSession.ranker || "Unkown" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <label
    >Ranker name (optional):
    <input [(ngModel)]="rankerName" placeholder="" />
  </label>
</div>
<button class="btn btn-primary" (click)="rankCategory()">Rank Category</button>
