<div class="big-horizontal-margin">
  <div class="rank-title padding">
    <h2>{{ category.name }}</h2>
  </div>
  <div>
    <div class="vertical-margin padding simple-border">
      <h3>Make a new ranking</h3>
      <form [formGroup]="form">
        <label
          >Ranker name (optional):
          <input formControlName="rankerName" placeholder="" />
        </label>
        <label
          >Choose the type of algorithm you want to use:
          <div>
            <input type="radio" formControlName="algorithm" value="advanced" />
            Fancy
            <br />
            <input type="radio" formControlName="algorithm" value="basic" />
            Basic
          </div>
        </label>
      </form>
      <div>
        <button class="btn btn-primary" (click)="rankCategory()">
          Rank Category
        </button>
      </div>
    </div>
    <div class="vertical-margin">
      <button
        id="accordion-button"
        class="simple-border padding accordion"
        (click)="toggleOptions()"
      >
        View Options &#43;
      </button>
      <div id="accordion-panel">
        <div class="measuringWrapper secondary-background padding">
          <ul>
            <li *ngFor="let option of category.options | sortByReverse: 'name'">
              {{ option.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h3>Past rankings of this category</h3>
    <table class="table table-bordered table-hover primary-border">
      <thead>
        <tr>
          <th scope="col">Completeness Score</th>
          <th scope="col">Date Ranked</th>
          <th scope="col">Ranker</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rankSession of rankSessions | sortBy: 'createdAt'">
          <th scope="row">{{ rankSession.completenessScore }}%</th>
          <td>{{ rankSession.createdAt | date: "dd/MM/yyyy" }}</td>
          <td>{{ rankSession.ranker || "Unkown" }}</td>
          <td>
            <button
              *ngIf="rankSession.password"
              class="btn btn-primary"
              (click)="tryContinueSession(rankSession)"
            >
              Continue Ranking
            </button>
          </td>
          <td>
            <button
              class="btn btn-primary"
              (click)="goToRankSession(rankSession)"
            >
              View Results
            </button>
          </td>
          <td>
            <button
              class="btn btn-primary"
              (click)="tryDeleteSession(rankSession)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
