<nav class="navbar primary-navbar navbar-expand-lg navbar-light">
    <h2 class="">{{ title }}</h2>
    <div
        class="collapse navbar-collapse small-left-pad"
        id="navbarSupportedContent"
    >
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create">Create Category</a>
        </li>
        </ul>
    </div>
</nav>