/* You can add global styles to this file, and also import other style files */

/* h1,
h2,
h3 {
  font-family: Helvetica, sans-serif;
} */

.rank-title {
  border-left: 10px solid teal;
  border-bottom: 5px solid teal;
  margin-bottom: 4%;
  background-color: #87EDF2;
}

.secondary-background {
  background-color: #87EDF2;
  border-left: 2px solid teal;
  border-bottom: 8px solid teal;
}

.primary-border {
  border-left: 2px solid teal;
  border-bottom: 8px solid teal;
}

.center {
  align-items: center;
  justify-content: center;
}

.padding {
  padding: 0.5rem 1rem;
}

.small-left-pad {
  padding-left: 2%;
}

.horizontal-margin {
  margin-left: 10%;
  margin-right: 10%;
}

.big-horizontal-margin {
  margin-left: 20%;
  margin-right: 20%;
}

.vertical-margin {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.simple-border {
  border: 2px solid teal;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #3f525c !important;
  border-color: teal;
}

.back-button:before {
  content: "\2190 ";
}
