<ng-template #passwordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Create a password for when you continue:
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="rankSession" class="modal-body">
    <form>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <input name="password" [(ngModel)]="rankSession!.password" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close(rankSession?.password)"
    >
      Save
    </button>
  </div>
</ng-template>

<div>
  <button
    class="btn back-button vertical-margin btn-primary"
    (click)="toCategorySummary()"
  >
    Back to Category summary
  </button>
  <div class="horizontal-margin">
    <div class="rank-title padding">
      <h3>Ranking {{ category.name }}</h3>
    </div>
    <button
      class="btn back-button vertical-margin btn-primary"
      (click)="openModal(passwordModal)"
    >
      Save Progess and Exit
    </button>
    <div class="row padding d-flex flex-wrap">
      <div
        *ngFor="let optionScore of displayOptions"
        class="spotify-holder col-sm-6"
      >
        <div
          class="card module option"
          role="button"
          (click)="selectOption(optionScore)"
        >
          <h4 class="bottom-padding">{{ optionScore.option.name }}</h4>
          <div *ngIf="category.type == 'songs'">
            <app-playback-window
              [song]="optionScore.option.name"
              [artist]="optionScore.option.artist || ''"
              [album]="optionScore.option.album"
            ></app-playback-window>
          </div>
        </div>
      </div>
      <div *ngIf="finishedRanking">
        <p>All done!</p>
        <button class="btn btn-primary" (click)="saveAndSeeResults()">
          Save and see results
        </button>
      </div>
    </div>
  </div>
</div>
