<div>
  <button
    class="btn back-button vertical-margin btn-primary"
    (click)="toCategorySummary()"
  >
    Back to Category summary
  </button>
  <div class="horizontal-margin">
    <div class="rank-title padding">
      <h3>Ranking {{ category.name }}</h3>
    </div>
    <div class="row padding d-flex flex-wrap">
      <div
        *ngFor="let optionScore of displayOptions"
        class="spotify-holder col-sm-6"
      >
        <div
          class="card module option"
          role="button"
          (click)="selectOption(optionScore)"
        >
          <h4 class="bottom-padding">{{ optionScore.option.name }}</h4>
          <div *ngIf="category.type == 'songs'">
            <app-playback-window
              [song]="optionScore.option.name"
              [artist]="optionScore.option.artist || ''"
              [album]="optionScore.option.album"
            ></app-playback-window>
          </div>
        </div>
      </div>
      <div *ngIf="finishedRanking">
        <p>All done!</p>
        <button class="btn btn-primary" (click)="saveAndSeeResults()">
          Save and see results
        </button>
      </div>
    </div>
  </div>
</div>
