<div>
  <div class="row">
    <label
      >Category name:
      <input #categoryName />
    </label>
  </div>

  <div class="row">
    <label
      >Songs?:
      <input type="checkbox" [checked]="isSongs" (click)="isSongs = !isSongs" />
    </label>
  </div>

  <div *ngIf="isSongs" class="row">
    <label
      >Artist:
      <input [ngModel]="artist" />
    </label>
  </div>

  <div class="row">
    <label>All options (one per line): </label>
    <textarea autosize #optionString cols="70"></textarea>
  </div>

  <div class="row">
    <button
      class="btn btn-primary"
      (click)="
        addCategory(categoryName.value, optionString.value);
        categoryName.value = '';
        optionString.value = ''
      "
    >
      add
    </button>
  </div>
</div>
